:root{
  --cor-fundo:#08010E; /* Um roxo escuro quase preto */
  --cor-principal:  #200B0D; /* Um tom de vinho profundo */
  --cor-secundaria: #332123; /* Um marrom avermelhado escuro */
  --cor-destaque: #FD2B2B; /* Um vermelho vibrante para o destaque */
  --cor-texto:#FFD7D7; /* Um tom claro de rosa para o texto */
}

body{

  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('img.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;

}
h1{
  color: var(--cor-destaque);

}

button{
  background-color: var(--cor-secundaria);
color: var(--cor-texto);
border:none ;
border-radius: 15px;
padding: 15px;
transition: background-color 0.3s;

}
button:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);

}

